/*
Copyright « © » 2015-16 Valentin PARIS
This file is part of EDUC-tools-editor.
    EDUC-tools-editor is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    EDUC-tools-editor is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with EDUC-tools-editor. If not, see <http://www.gnu.org/licenses/>.
*/
/*
	rouge : #da4234
	blanc : #f8f8f8
	clair: #f5f5f5
	dark: #444
	bleu : #387ef5
	vert : #33cd5f
	violet: #886aea
*/
body, html {
	padding: 0;
	margin: 0;
	width: 100%;
}
body {
	margin: 0 auto;
	width: 90%;
	min-width: 600px;
	max-width: 1000px;
	background-color: #444;
}

#info_dev {
	position: absolute;
	top: 0;right: 0;
	margin: 0;
	padding: 0;
}
#butt_infoPage {
	position: absolute;
	top: 5px;left: 5px;
	margin: 0;padding: 0;
	width: 40px;height: 40px;
	background: url('../img/icons/information.png') center no-repeat;
	background-size: contain;

	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
#butt_infoPage:hover {
	-webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

#version, #date {
	font-size: 0.9em;
	font-variant: small-caps;
	padding: 2px;
	margin: 0;
}
#version::before {
	content: 'version : ';
}
#date::before {
	content: 'date : ';
}

#header {
	position: absolute;
	top: 0;
	left: 0;right: 0;
	height: 50px;
	background-color: #da4234;
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    min-width: 600px;
	text-align: center;
	margin: 0;
	padding: 3px;

	box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px
	rgba(0, 0, 0, 0.2);
}
#header h1 {
	margin: 0;
}
#project {
	margin-top: 80px;
}

#backtop {
	margin: 0;padding:0;
	position: fixed;
	bottom: 12px;left: 1%;
	width: 40px;height: 46px;
	border-radius: 9px;
	background: #f5f5f5 url('../img/icons/backtop.png') center no-repeat;
	background-size: contain;

	-webkit-transition: height 0.5s;
    transition: height 0.5s;
}

#backtop:hover {
    height: 60px; /*143 initial */
}

/* Rien n'est affiché au chargement */
body > section {
	margin: 0 auto 30px;
	display: none;
}


body > section > div {
	padding: 2em 2em 1em;
	margin: 0;
	background: #f5f5f5;
	border-bottom-right-radius: 6px;
}
body > section > h2 {
	font-size: 1.25em;
	line-height: 1.7rem;
	background: #387ef5;
	color: #fff;
	border: none;
	padding: 10px;
}
body > section > h2 > span {
	font-size: 1.4em;
}

/* Cache tous les dialog jquery */
body > div[id*="dialog_"] {
	display: none;
}
section div[id$="_action"] {
	display: none;
}

/***********
UL et LI
************/
body > section ul:not([id*="contact"]) {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}
body > section li {
	padding: 0;
	margin: 5px 10px;
	width: 125px;
	height: 100px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;

	border-radius: 6px;
	vertical-align: middle;
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30%;
}
/*
	Juste pour les élems
*/
.elems {
	background-position: center 90%;
}
.elems .listeTitle {
	padding: 1px 3px;
    line-height: 1.2em;
    white-space: normal;
}


body > section li:hover {
	cursor: crosshair;
	border: 2px solid black;
}

body > section li[id$="_add"],
body > section li[id$="_import"] {
	background-color: #f8f8f8 !important;
	margin: 2px 6px;
	width: 80px;
	height: 60px;
	background-size: 20%;
	border-radius: 15px;
	vertical-align: middle;
}
body > section li[id*="_add"] .listeTitle,
body > section li[id$="_import"] .listeTitle {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
body > section li[id$="_add"] {
	background-image: url('../img/icons/add.png') !important;
	color: #33cd5f;
	/* séparation plus importante avec le reste */
	margin-right: 2em;
}
body > section li[id$="_import"] {
	background-image: url('../img/icons/import.png') !important;
	color: #886aea;
}

.listeTitle {
	background: rgba(250, 250, 250, 0.8);
	margin: 0;padding: 0px 2px;
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    line-height: 1.2em;
    font-size: 1.1em;
}

/* LI sélectionnées */
.elSelected {
	border: 2px solid black !important;
	box-shadow: 0px 12px 25px #444 !important;
}

/* SPAN action */
section div[id$="_action"] {
	margin: 0px 5em 18px;
}

section div[id$="_action"] span {
	border: 1px solid black;
	padding: 5px 6px 5px 20px;
	margin: 0 0.5em;
	background: #f8f8f8 no-repeat center left;
	background-size: 14px;
	width: 14px;
	height: 14px;
}
section div[id$="_action"] span:hover {
	cursor: pointer;
	font-style: italic;
}

.del_action {
	background-image: url('../img/icons/cross-red.png') !important;
	color: #da4234;
}
.del_action:before {
	content: 'Supprimer';
}

.edit_action {
	background-image: url('../img/icons/edit-black.png') !important;
}
.edit_action:before {
	content: 'Éditer';
}

.export_action {
	background-image: url('../img/icons/action-black.png') !important;
	color: rgb(121, 85, 72); /* marron */
}
.export_action:before {
	content: 'Exporter';
}

.import_action {
	background-image: url('../img/icons/import.png') !important;
	color: rgb(10, 4, 100);

}
.import_action:before {
	content: 'Importer';
}


/* LOADING */
#pageLoader {
	position: absolute;
	margin: auto;
	top: 0;bottom: 0;
	left: 0;right: 0;

	width: 33%;
	min-width: 300px;
	height: 20%;
	min-height: 150px;

	text-align: center;
	font-size: 1.6em;
}
#pageLoader img {
	margin-top: 10px;
}


/* FOOTER */
#footer {
	bottom: 0;
	padding: 2px;
	border-radius: 6px;
	width: 50%;
	min-width: 450px;
	max-width: 1000px;
	margin: 50px auto 0;
	text-align: center;

	background: #f5f5f5;
	border: 1px solid #444;
}
#footer a {
	color: #555;
	font-style: italic;
	text-decoration: none;
}
#footer a:hover {
	color: #666;
	font-style: normal;
	text-decoration: underline;
}


/* UTILS */
.hide {
	display: none !important;
}


/* Dialog */
.ui-widget-content {
    background: #f5f5f5;
    border: 1px solid #444;
    padding: 0 !important;
}

.ui-dialog {
    min-width: 280px !important;
	max-width: 500px !important;
	width: auto !important;
	padding: 0 !important;
}

.ui-dialog .ui-dialog-content {
    overflow: auto;
    padding: 0 !important;
}

.ui-widget-header {
    background: #444;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px
	rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 0;
    padding: 3px !important;
    font-weight: bolder;
    height: 40px;
    color: #fff;
}

#dialog_del p,
#dialog_info_in,
#dialog_edit_form {
	padding: 3px;
}

/*********
FORM
**********/
form input,
form label,
form select,
form textarea {
	display: block;
}
form input,
form textarea,
form select {
	margin: 0 auto;
}
form input,
form select {
	text-align: center;
}
form input[type="number"] {
	width: 5em;
}

form input[type="submit"] {
	margin: 15px auto;
}
form select {
	width: 50%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form hr {
	width: 66%;
	margin: 25px auto 20px;
}

.invalidInput {
	border-color: red !important;
}
.validInput {
	border-color: green !important;
}

.require {
	color: red;
	vertical-align: super;
	font-size: smaller;
}